

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">

    <mat-card fxFlex="50">
        <app-widget-area></app-widget-area> 
    </mat-card>
    <br>

    <mat-card fxFlex="50">
        <app-line-chart></app-line-chart> 
    </mat-card>
    
</div>

<br>
<br>
<br>
<mat-divider></mat-divider>


<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">

    <!-- <mat-card fxFlex="50">
        <app-widget-card label="Users" total="18k" percentage="50" >

        </app-widget-card>
    </mat-card> -->
    <!-- <br> -->
    
    <mat-card fxFlex="50">
    
        <app-bar-chart></app-bar-chart>

    </mat-card>


    <mat-card fxFlex="50">
    
    <app-basic-column></app-basic-column>

    </mat-card>

    <!-- <mat-card fxFlex="50">
        <app-widget-card label="Users" total="20k" percentage="80"></app-widget-card>

    </mat-card> -->
    <!-- <mat-card fxFlex="25">
        <app-widget-card></app-widget-card> 

    </mat-card>
    -->
    <mat-card fxFlex="50">
    
        <app-per-area></app-per-area>
    
        </mat-card>

    
</div>

<br>
<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">

    <mat-card fxFlex="50">
        <app-stacked-area></app-stacked-area>
    </mat-card>
    <br>

    <mat-card fxFlex="50">
        <app-widget-pie></app-widget-pie>
    </mat-card>
    
</div>